<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="../resources/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../resources/css/metisMenu.min.css" type="text/css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../resources/css/timeline.css" type="text/css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../resources/css/sb-admin-2.css" type="text/css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../resources/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../resources/css/bootstrap-addtabs.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../resources/css/bootstrap-treeview.min.css" type="text/css" media="screen" />
    <link href="../resources/css/custom.css" type="text/css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div id="tree"></div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper-index">
            <div class="col-md-12">
	            <div id="tabs">
	                <!-- Nav tabs -->
	                <ul class="nav nav-tabs" role="tablist">
	                    <li role="presentation" class="active">
	                    	<a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a>
	                    </li>                    
	                </ul>
	                <!-- Tab panes -->
	                <div class="tab-content">
	                    <div role="tabpanel" class="tab-pane active" id="home">
							
	                    </div>                    
	                </div>
	            </div>
        	</div>
           
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../resources/script/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../resources/script/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../resources/script/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="../resources/script/raphael-min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../resources/script/sb-admin-2.js"></script>
    <script src="../resources/script/bootstrap-addtabs.js"></script>
    <script src="../resources/script/bootstrap-treeview.min.js"></script>
	<script type="text/javascript">
		var PREVIOUS_NODEID = "";
		var ONSELECTED_NODEID = "";
	
		$('#tree').treeview({
			data: getTree(),
			highlightSelected: false,
			multiSelect: false,
			onNodeSelected: function(event, data) {
				addatab(data);
			},
			onNodeUnselected: function(event,data){
			}
		});
		function getTree(){
			var result;
			var parentmids = [];
			//ajax必须为同步的，否则菜单有可能不显示
			$.ajax({
				url:'getMenu',
				type:'post',
				async:false,
				success:function(data){
					//result typeof is object
					result = data.result;
					//查询结果数量
					var resultlength = result.length;
					//获取每条记录中的parentmid 放到  parentmids中
					for(var i = 0;i<resultlength;i++){
						parentmids[i] = result[i].parentmid;
					}
					//去重
					parentmids = uniQueue(parentmids);
					for (var j = 0;j<parentmids.length;j++) {
						var parentmid = parentmids[j];
						for(var i = 0;i<resultlength;i++){
							if(parentmid == result[i].mid){
								result[i].selectable = false;//添加selectable 属性 值为false
								delete(result[i]["href"]);//删除href属性
								result[i].state = {expanded:false}//添加state.expended属性，值为false
								result[i].nodes = [];
							}
						}
						for(var i = 0;i<resultlength;i++){
							if(parentmid == result[i].parentmid){
								parentobj = getparentobj(parentmid,result);
								if(typeof(parentobj) != "undefined"){
									parentobj.nodes.unshift(result[i]);
								}
							}
						}
					}
					//去掉数组中非一级菜单的内容
					var loopcount = resultlength;
					for(var k = 0;k<loopcount;k++){
						var mid = result[k].mid.substring(0,1);
						if(parseInt(mid) != 1){
							var a = result.splice(k,1);
							loopcount = result.length;
							k = 0;
						}
					}
				}
			});
			return result
		}
	    $(function(){
	        $('#tabs').addtabs({monitor:'.topbar'});
	    })
	    function addatab(data){
	    	Addtabs.add({
	               id: data.nodeId,
	               title: data.text,
	               url: data.href,
	            })
	    }
	    function uniQueue(array){
	    	var arr=[]; 
	    	var m; 
	    	while(array.length>0){ 
	    		m=array[0]; 
	    		arr.push(m); 
	    		array=$.grep(array,function(n,i){ 
	    			return n==m; 
	    		},true); 
	    	} 
	    	return arr; 
	    }
	    function getparentobj(haveparentmid,result){
	    	var obj;
	    	for(var i = 0;i<result.length;i++){
	    		if(haveparentmid == result[i].mid){
	    			obj = result[i];
	    		}
	    	}
	    	return obj;
	    }
     </script>
</body>

</html>
